*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.line{
    width: 46rem;
    border-right: 5px solid white;
    overflow: hidden;
    transform: translateY(-50%);
    position: relative;
    white-space: nowrap;
    margin-bottom: 4rem;
}

.profile h1{
    animation: typewriter 2s steps(11) 1s 1 normal both, blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter{
    from{
        width: 0;
    }
    to{
        width: 46rem;
    }
}

@keyframes blinkTextCursor{
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}


.profile{
    background-color: coral;
    text-align: left;
    font-size: 4rem;
    color: white;
    padding: 19rem 5rem;
}
.profile img{
    height: 21rem;
    width: 15rem;
    box-shadow: -30px 30px 15px rgba(0,0,0,0.3);
    margin: 4rem;
    border-radius: 0.7rem;
    transition: box-shadow 0.6s;
}

.profile img:hover{
    height: 21rem;
    width: 15rem;
    box-shadow: 30px 30px 15px rgba(0,0,0,0.3);
    margin: 4rem;
    border-radius: 0.7rem;
}

.projectshead{
    text-align: center;
}

.projects{
    background-color:burlywood;
    padding: 4rem 0 1rem 0;
}

.miniproject{
    margin: 3% 10% 0 10%;
    padding: 2% 2%;
    text-align: justify;
    box-shadow: -30px 30px 15px rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 0.7rem;
    line-height: 2;
    word-spacing: 3px;
    transition: box-shadow 0.6s;
}

.miniproject:hover{
    margin: 3% 10% 0 10%;
    padding: 2% 2%;
    text-align: justify;
    box-shadow: 30px 30px 15px rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 0.7rem;
    line-height: 2;
    word-spacing: 3px;
}

.finalproject, .nn, .cnn, .wordpress, .portfolio{
    margin: 4% 10%;
    padding: 2% 2%;
    text-align: justify;
    box-shadow: -30px 30px 15px rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 0.7rem;
    line-height: 2;
    word-spacing: 3px;
    transition: box-shadow 0.6s;
}

.finalproject:hover, .nn:hover, .cnn:hover, .wordpress:hover, .portfolio:hover{
    margin: 4% 10%;
    padding: 2% 2%;
    text-align: justify;
    box-shadow: 30px 30px 15px rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 0.7rem;
    line-height: 2;
    word-spacing: 3px;
}

.education{
    line-height: 2;
    word-spacing: 3px;
    margin: 3rem 0 6rem 0;
}

.education h1{
    text-align: center;
    margin-bottom: 2rem;
}

.column {
    float: left;
    width: 25%;
    padding: 0 2rem;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    background-color: #f1f1f1;
}

.card ul li{
    list-style: none;
}

.card h3{
    text-align: center;
}